<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head :: head(pageTitle='Gestión de Roles')}"></head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- Contenido Principal -->
    <main id="content">
        <div th:replace="~{fragments/header :: header}"></div>
        <div th:replace="~{fragments/search-modal :: searchModal}"></div>
        <div th:replace="~{fragments/notification-panel :: notificationPanel}"></div>

        <div class="custom-container flex-grow-1 d-flex flex-column pb-4">
            <div th:replace="~{seguridad/roles/roles-content :: content}"></div>
        </div>

    </main>

    <th:block th:replace="~{fragments/scripts :: scripts}"></th:block>

    <!-- Contenedor de mensajes Flash para los toasts -->
    <div id="flash-messages" style="display: none;"
        th:attr="data-success=${success}, data-error=${error}, data-warning=${warning}, data-info=${info}">
    </div>

    <!-- Los toasts se gestionan de forma centralizada en js/common/toasts.js -->
</body>

</html>