<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Configuración')}"></head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- Main Content -->
    <div id="content" class="position-relative h-100">
        <div th:replace="~{fragments/header :: header}"></div>

        <!-- container -->
        <div class="custom-container flex-grow-1 d-flex flex-column">
            <div class="flex-grow-1">
                <div th:replace="~{configuracion/configuracion-content :: content}"></div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>

    <div th:replace="~{fragments/search-modal :: searchModal}"></div>
    <div th:replace="~{fragments/notification-panel :: notificationPanel}"></div>

    <th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>

</html>