<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body th:fragment="cargoList">
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th class="text-nowrap">N°</th>
                    <th>Nombre del Cargo</th>
                    <th class="text-center" style="width: 140px;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cargo, iter : ${cargoPage.content}">
                    <td class="text-muted" th:text="${cargoPage.number * cargoPage.size + iter.count}"></td>
                    <td th:text="${cargo.nombreCargo}"></td>
                    <td class="text-end text-nowrap">
                        <div class="d-flex justify-content-end gap-3">
                            <button class="btn btn-primary rounded-circle btn-edit" type="button"
                                th:attr="data-id=${cargo.idCargo}"
                                sec:authorize="hasAuthority('CARGOS_EDITAR')" aria-label="Editar" data-tooltip="true"
                                data-bs-placement="top" title="Editar" data-bs-container="body" data-bs-trigger="hover">
                                <i class="ti ti-edit"></i>
                            </button>
                            <button class="btn btn-danger rounded-circle btn-delete" type="button"
                                th:attr="data-id=${cargo.idCargo}, data-nombre=${cargo.nombreCargo}"
                                sec:authorize="hasAuthority('CARGOS_ELIMINAR')" aria-label="Eliminar"
                                data-tooltip="true" data-bs-placement="top" title="Eliminar" data-bs-container="body" data-bs-trigger="hover">
                                <i class="ti ti-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr th:if="${cargoPage.empty}">
                    <td colspan="3" class="text-center">No se encontraron cargos con los criterios seleccionados.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Paginación -->
    <div class="card-footer" th:if="${!cargoPage.empty}">
        <div
            th:replace="~{fragments/pagination :: pagination(page=${cargoPage}, url='/organizacion/cargos', query=${query}, estado=${null})}">
        </div>
    </div>
</body>

</html>