<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body th:fragment="departamentoList">
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th class="text-nowrap">N°</th>
                    <th>Nombre del Departamento</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dep, iter : ${departamentoPage.content}">
                    <td class="text-muted" th:text="${departamentoPage.number * departamentoPage.size + iter.count}"></td>
                    <td th:text="${dep.nombreDepartamento}"></td>
                    <td class="text-end text-nowrap">
                        <div class="d-flex justify-content-end gap-3">
                            <button class="btn btn-primary rounded-circle btn-edit" type="button"
                                th:attr="data-id=${dep.idDepartamento}"
                                sec:authorize="hasAuthority('DEPARTAMENTOS_EDITAR')" aria-label="Editar"
                                data-tooltip="true" data-bs-placement="top" title="Editar" data-bs-container="body" data-bs-trigger="hover">
                                <i class="ti ti-edit"></i>
                            </button>
                            <button class="btn btn-danger rounded-circle btn-delete" type="button"
                                th:attr="data-id=${dep.idDepartamento}, data-nombre=${dep.nombreDepartamento}"
                                sec:authorize="hasAuthority('DEPARTAMENTOS_ELIMINAR')" aria-label="Eliminar"
                                data-tooltip="true" data-bs-placement="top" title="Eliminar" data-bs-container="body" data-bs-trigger="hover">
                                <i class="ti ti-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr th:if="${departamentoPage.empty}">
                    <td colspan="3" class="text-center">No se encontraron departamentos con los criterios seleccionados.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Paginación -->
    <div class="card-footer" th:if="${!departamentoPage.empty}">
        <div
            th:replace="~{fragments/pagination :: pagination(page=${departamentoPage}, url='/organizacion/departamentos', query=${query}, estado=${null})}">
        </div>
    </div>
</body>

</html>