<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(pageTitle)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Punto.digital" name="yelsen">
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="${pageTitle} + ' | Sistema de Activos UNASAM'"></title>
    <link rel="icon" type="image/png" th:href="@{/images/unasam.png}">

    <!-- Modos de color -->
    <script th:src="@{/js/vendors/color-modes.js}"></script>
    <script>
        if (localStorage.getItem('sidebarExpanded') === 'false') {
            document.documentElement.classList.add('collapsed');
            document.documentElement.classList.remove('expanded');
        } else {
            document.documentElement.classList.remove('collapsed');
            document.documentElement.classList.add('expanded');
        }
    </script>

    <!-- Libs CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800&amp;display=swap" />

    <!-- Favicon icon-->
    <link rel="stylesheet" th:href="@{/libs/swiper/swiper-bundle.min.css}" />
    <link rel="stylesheet" th:href="@{/libs/simplebar/dist/simplebar.min.css}" />

    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/css/theme.min.css}">

    <!-- Iconos -->
    <!--<link rel="stylesheet" th:href="@{/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/css/feather.css}" />-->
    <link rel="stylesheet" th:href="@{/libs/@tabler/icons-webfont/tabler-icons.min.css}" />

    <!-- ===== TODAS LAS LIBRERÍAS CSS ===== -->
    
    <!-- Choices.js - Para selectores avanzados con búsqueda -->
    <link rel="stylesheet" th:href="@{/libs/choices.js/choices.min.css}" />
    
    <!-- Dragula - Para funcionalidad drag & drop (puede no ser necesario en roles) -->
    <link rel="stylesheet" th:href="@{/libs/dragula/dist/dragula.min.css}" />
    
    <!-- Toastify - Para notificaciones toast (NECESARIO) -->
    <link rel="stylesheet" th:href="@{/libs/toastify-js/toastify.min.css}" />
    
    <!-- Prism - Para resaltado de sintaxis (puede no ser necesario en roles) -->
    <link rel="stylesheet" th:href="@{/libs/prismjs/themes/prism-okaidia.min.css}" />

    <!--<link rel="stylesheet" th:href="@{/js/lib/dropzone/dist/dropzone.min.css}"></link>-->
</head>

</html>