<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- Modal de Búsqueda -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true"
        th:fragment="searchModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="search" class="form-control border-0 rounded-0 ps-0 form-focus-none"
                        id="globalSearchInput" placeholder="Search any word..." aria-label="Search"
                        aria-describedby="search-addon" />
                    <button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal"
                        aria-label="Close">Esc</button>
                </div>
                <div class="modal-body" data-simplebar="" style="height: 400px">
                    <div class="mb-4">
                        <div class="d-flex flex-column border-bottom border-dashed py-4">
                            <div class="mb-2">
                                <span class="fw-semibold text-secondary small">Dashboard</span>
                            </div>
                            <div>
                                <ul class="list-unstyled lh-lg mb-0">
                                    <li><a class='text-inherit' href='dashboard/analytics.html'>Analytics</a></li>
                                    <li><a href="dashboard/project.html" class="text-inherit">Project</a></li>
                                    <li><a class='text-inherit' href='dashboard/ecommerce.html'>Ecommerce</a></li>
                                    <li><a class='text-inherit' href='dashboard/crm.html'>CRM</a></li>
                                    <li><a class='text-inherit' href='dashboard/finance.html'>Finance</a></li>
                                    <li><a class='text-inherit' href='dashboard/blog.html'>Blog</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex flex-column border-bottom border-dashed py-4">
                            <div class="mb-2">
                                <span class="fw-semibold text-secondary small">Apps</span>
                            </div>
                            <div>
                                <ul class="list-unstyled lh-lg mb-0">
                                    <li><a class='text-inherit' href='apps/calendar.html'> Calendar</a></li>
                                    <li><a class='text-inherit' href='apps/chat-app.html'> Chat</a></li>
                                    <li><a class='text-inherit' href='apps/email/mail.html'>Email</a></li>
                                    <li><a class='text-inherit'
                                            href='apps/e-commerce/ecommerce-products.html'>Ecommerce</a></li>
                                    <li><a class='text-inherit' href='apps/kanban.html'> Kanban</a></li>
                                    <li><a class='text-inherit' href='apps/project/project-grid.html'>Project</a></li>
                                    <li><a class='text-inherit' href='dashboard/file.html'> File Manager</a></li>
                                    <li><a class='text-inherit' href='apps/crm/crm-contacts.html'> CRM</a></li>
                                    <li><a class='text-inherit' href='apps/invoice/invoice-list.html'> Invoice</a></li>
                                    <li><a class='text-inherit' href='apps/profile/profile-overview.html'> Profile</a>
                                    </li>
                                    <li><a class='text-inherit' href='apps/blog/blog-list.html'> Blog</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex flex-column border-bottom border-dashed py-4">
                            <div>
                                <span class="fw-semibold text-secondary small">Pages</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column border-bottom border-dashed py-4">
                            <div>
                                <span class="fw-semibold text-secondary small">Quick Links</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>