<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- Sidebar -->
    <div th:fragment="sidebar">
        <!-- destokp -->
        <div id="miniSidebar">
            <div class="brand-logo">
                <a class='d-none d-md-flex align-items-center gap-4 ' th:href="@{/home}">
                    <img class="logo-expanded" th:src="@{/images/unasam_nombre.webp}" alt="UNASAM" />
                    <img class="logo-collapsed" th:src="@{/images/unasam.png}" alt="UNASAM" />
                </a>
            </div>
            <div class="sidebar-menu-content">
                <div th:include="fragments/sidebar-content :: sidebar-content"></div>
            </div>
        </div>

        <!-- mobile -->
        <div class="offcanvasNav offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <a class='d-flex align-items-center gap-2' th:href="@{/home}">
                    <img style="height: 47px;" th:src="@{/images/unasam_nombre.webp}" alt="UNASAM" />
                </a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
            </div>

            <div class="offcanvas-body p-0">
                <div th:include="fragments/sidebar-content :: sidebar-content"></div>
            </div>
        </div>

    </div>
</body>

</html>