<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head :: head('Permisos del Sistema')}"></head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <main id="content">
        <div th:replace="~{fragments/header :: header}"></div>

        <div class="custom-container flex-grow-1 d-flex flex-column pb-4">
            <div th:replace="~{seguridad/permisos/permisos-content :: content}"></div>
        </div>

        <div class="mt-auto" th:replace="~{fragments/footer :: footer}"></div>
    </main>

    <div th:replace="~{fragments/search-modal :: searchModal}"></div>
    <div th:replace="~{fragments/notification-panel :: notificationPanel}"></div>
    <th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>

</html>